.w3-container:after,
.w3-container:before,
.w3-container,
.w3-bar .w3-bar-item{
    padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0
}
.w3-bar .w3-button{
    white-space:normal
}
.w3-black,
.w3-bar .w3-bar-item{
    padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0
}
.w3-bar-item.w3-mobile,
.w3-dropdown-hover.w3-mobile,
.w3-dropdown-click.w3-mobile{
    text-align:center
}
.w3-dropdown-hover.w3-mobile,
.w3-dropdown-hover.w3-mobile .w3-btn,
.w3-dropdown-hover.w3-mobile .w3-button,
.w3-dropdown-click.w3-mobile,
.w3-dropdown-click.w3-mobile .w3-btn,
.w3-dropdown-click.w3-mobile .w3-button{
    width:100%
}}
@media (max-width:768px){.w3-modal-content{width:500px}.w3-modal{padding-top:50px}}

