body{
  max-width: 1280px;
  width: 1280px;
  background: url("../img/background_navio.png") no-repeat top center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-repeat: no-repeat;
  background-position: top;
  font-family: "Poppins", sans-serif;
}
main{
  max-width: 1280px;
  width: 1280px;
  background: url("../img/background_footer.png") no-repeat bottom center;
  background-repeat: no-repeat;
  background-position: bottom;
  background-position-x: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header{
    max-width: 1280px;
    width: 1280px;
    height: 108px;
    display: flex; /*Expande o uso para a max-width*/
    background-color:#1A1C39 ;
}
#nossosNavios{
  max-width: 954px;
  width: 954px;
  height: 534px;
}
#fullHeader{
  max-width: 1280px;
  width: 1280px;
  height: 160px;
  display: flex;
  flex-direction: column;
}
#MSCLogo{
    max-width:108px ;
}
#navRows2{
  max-width: 1118px;
  height: 108px;
  display: flex;
  flex-direction: row;
}
.navFone{
  height: 40px;
}
.navMenu{
  height: 68px;
}

.navFone{
  color: #ffffff; 
  font-size: 10px;
  font-weight: 400;
  text-align: right;
}
div.navFone hr{
  width: 1px;
  color:white;
}

.navMenu ul{
  gap: 50px;
  column-gap: 50px;
}

.navMenu a{
  font-size: 12px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: white;
}
.navMenu a:hover{
  text-decoration: underline;
  text-decoration-color: #FF6900;
  text-decoration-thickness: 3px;
  width: 8px;
  text-underline-offset: 10px;
}
.menuCompre{
  max-width: 1280px;
  width: 1280px;
  color: #ffffff;
  margin-top: 150px;
  padding-left: 325px ;

}
.menuCompre h2{
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 60%;
}
.menuCompre h3{
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 30%;
}

footer{
  max-width: 1280px;
  width: 1280px;
  height: 100px;
  background-color: #1A1C39;
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  padding-top: 37px;
  text-transform: uppercase;
}
#search{
  background-color: #ffffff;
  border-radius: 7px;
  width: 955px;
  height: 290px;
  margin-top: 310px;
  align-self: auto;
  padding-top: 40px; /*Margem para início do texto*/
  padding-left: 30px; 
  box-shadow: 2px -6px 5px 3px rgba(0, 0, 0, 0.26);
}
#search a{
  font-size: 20px;
  color: #1A1C39;
  text-decoration: none;
}

/*INICIO SECTION DESTAQUES*/
#nossosDestaques{ /*id referente aos limites da sessão*/
  margin-top: 0px;
  width: 955px;
  height: 534px;
}
#divDestaques { /*id referente à DIV do bloco geral da sessão*/
  display: flex;
  column-gap: 23px;
}
.divDestaque { /*classe referente as divisões internas da sessão*/
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
}
.divDestaqueTxt{ /*classe referente ao padding do bloco de textos (h2,h3 e p)*/
  padding-left: 20px;
}
.divDestaque > div > img { /*classe referentes as imagens internas da div*/
  height: 22px;
  width: fit-content;
}
#nossosDestaques h1{ /*id referente ao h1 (TÍTULO DA SESSÃO) */
  font-size: 36px;
  color: black;
}
#nossosDestaques h2{/*id referente ao h2 (NOMES DOS PACOTES) */
  font-size: 24px;
  font-weight: 600;
  line-height: 35%;
}
#nossosDestaques h3{/*id referente ao h3 (PRECOS DOS PACOTES) */
  font-size: 20px;
  line-height: 35%;
  font-weight: 600;
}
#nossosDestaques p{ /*id referente aos parágrafos*/
  font-size: 12px;
  font-weight: 400;
  line-height: 120%;
}
/*FIM SECTION DESTAQUES*/


/*INICIO SECTION NOSSOS NAVIOS*/
#sc_NossosNavios{ /*id referente aos limites da sessão*/
  width: 955px;
  height: 534px;
}
#divG_NossosNavios{ /*id referente à DIV geral*/
  display: flex;
  column-gap: 23px;
}
.divI_NossoNavio{ /*classe referente as divisões internas da DIV Geral*/
  column-gap: 22px;
  border-radius: 12px 12px 0px 0px;
  background: rgba(217, 217, 217, 0.70);
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
}
#sc_NossosNavios h1{/*id referente ao h1 (TÍTULO DA SESSÃO)*/
  font-size: 36px;
  font-weight: 700;
  color: #ffffff;
}
.divNossoNavio > div > img {/* classe referente às imagens das divs internas*/
  height: 22px;
  width: fit-content;
}
/*FIM SECTION MEUS NAVIOS*/


/*PERSONALIZAÇÃO DE FORMS*/
.button{
  color: white;
  border-radius: 6px;
  width: 190px;
  height: 40px;
  border: none;
  font-size: 16px;
}
#btCompre{
  background: #FF6900;
}
#btBuscar{
  background: #1A1C39;
}
.citySelect{ /*Personalização das caixas de Select e de date*/
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: lighter;
  background-color: white;
  color: #A4A4A4;
  border: 0.5px solid;
  border-color: rgb(134, 134, 134);
  height: 35px;
  width: 245px;
  border-radius: 3px;
  line-height: 16px;

}
.citySelect select.selected{
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: black;
}

/*PERSONALIZAÇÃO DOS DIVS*/
div.Grid3Cols{
  padding-left: 20px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-column-gap: 23px;
}

div.Grid2Cols{
  padding-left: 20px;
  display: grid;
  grid-template-columns: 50% 50%;
}

/**/







.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
