body{
  background: url("/img/background_navio.png") no-repeat top center;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main{
  background: url("/img/background_footer.png") no-repeat bottom center;
}
header{
    width: 100%px;
    height: 108px;
    flex-shrink: 0;
    background-color:#1A1C39 ;
}
footer{
  width: 1280px;
  height: 100px;
  background-color: #1A1C39;
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  padding-top: 37px;
}
#search{
  background-color: #ffffff;
  border-radius: 7px;
  width: 955px;
  height: 290px;
  margin-top: 0px;
  align-self: auto;
  padding-top: 40px; /*Margem para início do texto*/
  padding-left: 30px; 
  box-shadow: 2px -6px 5px 3px rgba(0, 0, 0, 0.26);
}
#nossosDestaques h1{
  font-size: 36px;
  color: black;
}
#nossosDestaques h2{
  font-size: 24px;
  font-weight: 600;
  line-height: 35%;
}
#nossosDestaques h3{
  font-size: 20px;
  line-height: 35%;
  font-weight: 600;
}
#nossosDestaques p{
  font-size: 12px;
  font-weight: 400;
  line-height: 120%;
}
#nossosDestaques{
  margin-top: 0px;
  width: 955px;
  height: 534px;
}
#nossosNavios{
  color: white;
  width: 955px;
  height: 555px;
  align-self: auto;
  border-radius: 12px 12px 0px 0px;
  background: rgba(217, 217, 217, 0.70);
}
/*PERSONALIZAÇÃO DE FORMS*/
.button{
  color: white;
  border-radius: 6px;
  width: 190px;
  height: 40px;
  border: none;
  font-size: 16px;
}
#btCompre{
  background: #FF6900;
}
#btBuscar{
  background: #1A1C39;
}
.citySelect{ /*Personalização das caixas de Select e de date*/
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: lighter;
  background-color: white;
  color: #A4A4A4;
  border: 0.5px solid;
  border-color: rgb(134, 134, 134);
  height: 35px;
  width: 245px;
  border-radius: 3px;
  line-height: 16px;

}
.citySelect select.selected{
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: black;
}

/*PERSONALIZAÇÃO DOS DIVS*/
div.Grid3Cols{
  padding-left: 20px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-column-gap: 23px;
}

div.Grid2Cols{
  padding-left: 20px;
  display: grid;
  grid-template-columns: 50% 50%;
}

/**/
.navMenu{
  float: left;
  padding-left: 220px;
}
.navMenu ul{
  display: flex;
  flex-direction: row;
  list-style: none;
}
.navMenu ul li{
  display: block;
  margin-right: 30px;
}
.navMenu a{
  font-size: 12px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: white;
}
.navMenu a:hover{
  text-decoration: underline;
  text-decoration-color: #FF6900;
  width: 3px;
  text-underline-offset: 10px;
}






.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
